/.idea
/.settings
/.buildpath
/.project
/.tags

/composer.lock
/vendor
/tests

/src/public/dev_*.php
/src/config/dev_*.php

/src/public/api_res

/api_front/compile
/api_front/output
/api_front/*.__bak__
.DS_Store
/api_front/api_res/apps/*/dist



